<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MiBD" connectionString="Data Source = DESKTOP-6CK8G9P\SQLEXPRESS;Initial Catalog = Repository; User Id=sa;Password=sql;"/>
    <add name ="URL" connectionString="http://localhost:82/DownloadMtom/Downloader.svc" providerName="ISSC"/>
    <add name ="Repositorio" connectionString="C:\inetpub\wwwISSC\Mtom\Repositorio" providerName="ISSC"/>
    <add name ="Temporal" connectionString="C:\inetpub\wwwISSC\Mtom\Upload" providerName="ISSC"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    
    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="wsWithMTOM"/>
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding name="wsWithMTOM" closeTimeout="00:25:00" receiveTimeout ="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength ="2147483647"></readerQuotas>
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
